<h1><i class="material-icons">book</i> {{'rent'|translate}}</h1>

<div class="form_block">
  <mat-form-field>
    <mat-select placeholder="{{'client'|translate}}" [(ngModel)]="cliente">
      <mat-option *ngFor="let element of clientes" [value]="element">
          {{element.apellidos}}, {{element.nombre}}
      </mat-option>
    </mat-select>
    <mat-hint *ngIf="showClientError">{{'clientRequiredError'|translate}}</mat-hint>
  </mat-form-field>
  <mat-form-field>
    <input matInput [matDatepicker]="picker" placeholder="{{'rentDate'|translate}}" [(ngModel)]="alquiler.fechaInicio">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <mat-form-field>
    <input matInput [matDatepicker]="picker2" placeholder="{{'returnDate'|translate}}" [(ngModel)]="alquiler.fechaFin">
    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
    <mat-datepicker #picker2></mat-datepicker>
  </mat-form-field>
  <button mat-button (click)="saveAlquiler()"><i class="material-icons">save</i> {{'save'|translate}} </button>
</div>
<div class="form_block">
  <label>{{'search'|translate}}:
    <input type="text" [(ngModel)]="searchText" (keyup)="updateArticulosToShow()">
  </label>
  <i class="material-icons clearButton" (click)="clearSearchText()">remove_circle</i>
  <span *ngIf="articulos && articulosToShow">
    {{'found'|translate}} {{articulosToShow.length}} {{'of'|translate}} {{articulos.length}}
  </span>
</div>
<div class="flex_box">
  <div cdkDropListGroup>
    <div class="drop-list-container">
      <h2>{{'items'|translate}}</h2>
      <div cdkDropList [cdkDropListData]="articulosToShow" class="drop-list" (cdkDropListDropped)="drop($event)">
        <div class="drop-list-box" *ngFor="let articulo of articulosToShow" cdkDrag (dblclick)="addToAlquilados(articulo)">{{articulo.juego.nombre}} - {{articulo.plataforma.nombre}}</div>
      </div>
    </div>
    <div class="drop-list-container">
      <h2>{{'rented'|translate}}</h2>
      <div cdkDropList [cdkDropListData]="articulosAlquilados" class="drop-list" (cdkDropListDropped)="drop($event)">
        <div class="drop-list-box" *ngFor="let articulo of articulosAlquilados" cdkDrag (dblclick)="removeFromAlquilados(articulo)">{{articulo.juego.nombre}} - {{articulo.plataforma.nombre}}</div>
      </div>
    </div>
  </div>
</div>
