<mat-card>
  <h1><i class="material-icons">phonelink</i> {{'platforms'|translate}}</h1>
  <div class="form_block">
    <label>{{'search'|translate}}:
      <input type="text" [(ngModel)]="searchText" (keyup)="updatePlataformasToShow()">
    </label>
    <i class="material-icons clearButton" (click)="clearSearchText()">remove_circle</i>
    <span *ngIf="plataformas && plataformasToShow">
      {{'found'|translate}} {{plataformasToShow.length}} {{'of'|translate}} {{plataformas.length}}
    </span>
  </div>
  <div class="flex_box">
    <div class="c2 table_box mat-elevation-z8">
      <table mat-table [dataSource]="plataformasToShow" class="mat-elevation-z8">
        <ng-container matColumnDef="nombre">
          <th mat-header-cell *matHeaderCellDef> {{'name'|translate}} </th>
          <td mat-cell *matCellDef="let element">
            <button mat-button (click)="edit(element)"> {{element.nombre}} </button>
          </td>
        </ng-container>
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef>
            <button mat-button (click)="add()" class="addButton"> {{'add'|translate}} </button>
          </th>
          <td mat-cell *matCellDef="let element">
            <button mat-button (click)="remove(element._id)"> {{'erase'|translate}} </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
    <div *ngIf="editing" class="c2">
      <div class="form_block">
        <mat-form-field>
          <input matInput placeholder="{{'name'|translate}}" [(ngModel)]="element.nombre">
        </mat-form-field>
      </div>
      <div class="buttons_block">
        <button mat-stroked-button (click)="saveElement()"><i class="material-icons">save</i> {{'save'|translate}} </button>
        <button mat-stroked-button (click)="closeEditing()"><i class="material-icons">close</i> {{'cancel'|translate}} </button>
      </div>
    </div>
  </div>
</mat-card>
