<div class="noPrint">
  <div class="titleLangSelect">
    <div class="c3">
      <mat-form-field>
        <mat-select placeholder="{{'language'|translate}}" [(value)]="currentLanguage" (selectionChange)="updateLanguage()">
          <mat-option *ngFor="let lang of langs" value="{{lang.value}}">
            {{lang.value | translate}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="titleText c3">
      <h1>GamerStore</h1>
    </div>
    <div class="c3">
      <button mat-button *ngIf="!userIsAuthenticated" [routerLink]="['/login']">{{'login'|translate}}</button>
      <button mat-button *ngIf="!userIsAuthenticated" [routerLink]="['/signup']">{{'signup'|translate}}</button>
      <button mat-button *ngIf="userIsAuthenticated" (click)="logout()" >{{'logout'|translate}}</button>
      <div class="userName">{{userName}}</div>
    </div>
  </div>
  <div *ngIf="userIsAuthenticated">
    <button mat-stroked-button [routerLink]="['/']">
      <i class="material-icons">home</i> {{'home' | translate}}</button>
    <button mat-stroked-button [matMenuTriggerFor]="editar">
      <i class="material-icons">border_color</i> {{'configuration' | translate}}</button>
    <button mat-stroked-button [routerLink]="['/ventas']">
      <i class="material-icons">euro_symbol</i> {{'sale' | translate}}</button>
    <button mat-stroked-button [routerLink]="['/alquileres']">
      <i class="material-icons">swap_horiz</i> {{'rent' | translate}}</button>
    <button mat-stroked-button [routerLink]="['/facturas']">
      <i class="material-icons">library_books</i> {{'salesCheck' | translate}}</button>

    <mat-menu #editar="matMenu">
      <button mat-menu-item [routerLink]="['/plataformas']">
        <i class="material-icons">phonelink</i> {{'platforms'|translate}}</button>
      <button mat-menu-item [routerLink]="['/juegos']">
        <i class="material-icons">videogame_asset</i> {{'games'|translate}}</button>
      <button mat-menu-item [routerLink]="['/articulos']">
        <i class="material-icons">book</i> {{'items'|translate}}</button>
        <button mat-menu-item [routerLink]="['/clientes']">
          <i class="material-icons">people</i> {{'clients'|translate}}</button>
    </mat-menu>
  </div>
</div>
<router-outlet></router-outlet>
