.titleLangSelect {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.noPrint {
    text-align: center;
    margin: 1rem;
}

.userName {
    font-size: 0.8rem;
    color: green;
}