.addButton {
    color: deeppink;
}

.flex_box {
    display: flex;
    flex-wrap: wrap;
}

table {
    width: 100%;
}

.table_box {
    height: 400px;
    overflow: auto;
}

.form_block {
    margin: 15px;
}

.buttons_block {
    margin: 15px;
}

.clearButton{
    vertical-align: bottom;
    cursor: pointer;
}

.coverButton img {
    max-height: 75px;
}

.oneBlock {
  display: block;
}

.fieldInLine {
  display: inline-block;
}

mat-form-field, .fieldInLine {
  margin: 0.5rem;
}

.editingImage img {
  margin: 0.5rem;
}

.sameLine {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
 }