<h1><i class="material-icons">videogame_asset</i> {{'games'|translate}}</h1>
<div class="form_block">
  <label>{{'search'|translate}}:
    <input type="text" [(ngModel)]="searchText" (keyup)="updateJuegosToShow()">
  </label>
  <i class="material-icons clearButton" (click)="clearSearchText()">remove_circle</i>
  <span *ngIf="juegos && juegosToShow">
    {{'found'|translate}} {{juegosToShow.length}} {{'of'|translate}} {{juegos.length}}
  </span>
</div>
<div class="flex_box">
  <div class="c1 table_box mat-elevation-z8">
    <table mat-table [dataSource]="juegosToShow" class="mat-elevation-z8">
      <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef> {{'name'|translate}} </th>
        <td mat-cell *matCellDef="let element">
          <button mat-button (click)="edit(element)"> {{element.nombre}} </button>
        </td>
      </ng-container>
      <ng-container matColumnDef="codigo">
        <th mat-header-cell *matHeaderCellDef> {{'code'|translate}} </th>
        <td mat-cell *matCellDef="let element">
          <button mat-button (click)="edit(element)"> {{element.codigo}} </button>
        </td>
      </ng-container>
      <ng-container matColumnDef="caratula">
        <th mat-header-cell *matHeaderCellDef> {{'cover'|translate}} </th>
        <td mat-cell *matCellDef="let element">
          <button mat-button (click)="edit(element)"><div *ngIf="element.caratula" class="coverButton"><img src="{{element.caratula}}"></div>
            </button>
        </td>
      </ng-container>
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>
          <button mat-button (click)="add()" class="addButton"> {{'add'|translate}} </button>
        </th>
        <td mat-cell *matCellDef="let element">
          <button mat-button (click)="remove(element._id)"> {{'erase'|translate}} </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
  <div *ngIf="editing" class="c3">
    <div class="form_block">
      <mat-form-field>
        <input matInput placeholder="{{'name'|translate}}" [(ngModel)]="element.nombre">
      </mat-form-field>
      <mat-form-field>
          <input matInput placeholder="{{'code'|translate}}" [(ngModel)]="element.codigo">
      </mat-form-field>
      <button mat-stroked-button color="primary" (click)="scanBarCode()"><i class="material-icons">view_array</i> Scanear</button>
      <p>{{'cover'|translate}}:
        <input type="file" accept="image/jpeg" (change)="onFileChange($event)" #fileInput>
        <i class="material-icons clearButton" (click)="resetImage()">delete</i>
      </p>
      <div *ngIf="element.caratula">
        <img src="{{element.caratula}}">
      </div>
    </div>
    <div class="buttons_block">
      <button mat-stroked-button (click)="saveElement()"><i class="material-icons">save</i> {{'save'|translate}} </button>
      <button mat-stroked-button color="primary" (click)="closeEditing()"><i class="material-icons">close</i> {{'cancel'|translate}}
        </button>
    </div>
  </div>
</div>
