<h1><i class="material-icons">book</i> {{'items'|translate}}</h1>

<div *ngIf="!editing">

  <div class="form_block">
    <label>{{'search'|translate}}:
      <input type="text" [(ngModel)]="searchText" (keyup)="updateArticulosToShow()">
    </label>
    <i class="material-icons clearButton" (click)="clearSearchText()">remove_circle</i>
    <span *ngIf="articulos && articulosToShow">
      {{'found'|translate}} {{articulosToShow.length}} {{'of'|translate}} {{articulos.length}}
    </span>
  </div>
  <div class="flex_box">
    <div class="c1 table_box mat-elevation-z8">
      <table mat-table [dataSource]="articulosToShow" class="mat-elevation-z8">
        <ng-container matColumnDef="juego">
          <th mat-header-cell *matHeaderCellDef> {{'game'|translate}} </th>
          <td mat-cell *matCellDef="let element">
            <button mat-button (click)="edit(element)"> {{element.juego}} </button>
          </td>
        </ng-container>
        <ng-container matColumnDef="plataforma">
          <th mat-header-cell *matHeaderCellDef> {{'platform'|translate}} </th>
          <td mat-cell *matCellDef="let element">
            <button mat-button (click)="edit(element)"> {{element.plataforma}} </button>
          </td>
        </ng-container>

        <ng-container matColumnDef="formato">
          <th mat-header-cell *matHeaderCellDef> {{'format'|translate}} </th>
          <td mat-cell *matCellDef="let element">
            <button mat-button (click)="edit(element)"> {{element.formato}} </button>
          </td>
        </ng-container>
        <ng-container matColumnDef="cantidad">
          <th mat-header-cell *matHeaderCellDef> {{'quantity'|translate}} </th>
          <td mat-cell *matCellDef="let element">
            <button mat-button (click)="edit(element)"> {{element.cantidad}} </button>
          </td>
        </ng-container>
        <ng-container matColumnDef="precioAlquiler">
          <th mat-header-cell *matHeaderCellDef> {{'rent_price'|translate}} </th>
          <td mat-cell *matCellDef="let element">
            <button mat-button (click)="edit(element)"> {{element.precioAlquiler}} </button>
          </td>
        </ng-container>
        <ng-container matColumnDef="precioVenta">
          <th mat-header-cell *matHeaderCellDef> {{'sale_price'|translate}} </th>
          <td mat-cell *matCellDef="let element">
            <button mat-button (click)="edit(element)"> {{element.precioVenta}} </button>
          </td>
        </ng-container>

        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef>
            <button mat-button (click)="add()" class="addButton"> {{'add'|translate}} </button>
          </th>
          <td mat-cell *matCellDef="let element">
            <button mat-button (click)="remove(element.id)"> {{'erase'|translate}} </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </div>
</div>
<div *ngIf="editing">
  <!-- ['juego', 'plataforma', 'formato', 'cantidad', 'precioAlquiler', 'precioVenta', 'action'] -->
  <div class="form_block">
    <mat-form-field>
      <mat-select placeholder="{{'game'|translate}}" [(ngModel)]="element.juegoId">
        <mat-option *ngFor="let juego of juegos" [value]="juego.id">
          {{juego.nombre}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-select placeholder="{{'platform'|translate}}" [(ngModel)]="element.plataformaId">
        <mat-option *ngFor="let plataforma of plataformas" [value]="plataforma.id">
          {{plataforma.nombre}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-select placeholder="{{'format'|translate}}" [(ngModel)]="element.formato">
        <mat-option *ngFor="let formato of formatos" [value]="formato.nombre">
          {{formato.nombre}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <input type="number" matInput placeholder="{{'quantity'|translate}}" [(ngModel)]="element.cantidad">
    </mat-form-field>
    <mat-form-field>
      <input type="number" matInput placeholder="{{'rentPrice'|translate}}" [(ngModel)]="element.precioAlquiler">
    </mat-form-field>
    <mat-form-field>
      <input type="number" matInput placeholder="{{'salePrice'|translate}}" [(ngModel)]="element.precioVenta">
    </mat-form-field>
  </div>
  <div class="buttons_block">
    <button mat-button (click)="saveElement()"><i class="material-icons">save</i> {{'save'|translate}} </button>
    <button mat-button (click)="closeEditing()"><i class="material-icons">close</i> {{'cancel'|translate}} </button>
  </div>
</div>

