.addButton {
    color: deeppink;
}

.flex_box {
    display: flex;
}

table {
    width: 100%;
}

.table_box {
    height: 400px;
    overflow: auto;
}

.form_block {
    margin: 15px;
}

.buttons_block {
    margin: 15px;
}

.clearButton{
    vertical-align: bottom;
    cursor: pointer;
}

mat-form-field {
  margin: 0.5rem;
}

.sameLine {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
   }